<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <form id="#movieForm" action="/submit" method="post">
          <h1 class="title-form">Rate Your Favorite Movie</h1>
          <div class="personal-info">
            <h2 class="title">User Details</h2>
            <div class="input-container">
              <div
                style="gap: 12px; display: flex; justify-content: space-between"
              >
                <div class="input-wrapper">
                  <input
                    type="text"
                    id="userName"
                    name="userName"
                    placeholder="Full Name"
                    value="<%= typeof userName !== 'undefined' ? userName : '' %>"
                  />
                  <% if (typeof errors !== 'undefined' && errors.userName &&
                  !userName) { %>
                  <span class="error"><%= errors.userName %> </span>
                  <% } %>
                </div>
                <div class="input-wrapper">
                  <input
                    type="email"
                    id="userEmail"
                    name="userEmail"
                    placeholder="Email"
                    value="<%= typeof userEmail !== 'undefined' ? userEmail : '' %>"
                  />
                  <% if (typeof errors !== 'undefined' && errors.userEmail &&
                  !userEmail) { %>
                  <span class="error"><%= errors.userEmail %> </span>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="movie-info">
            <h2 class="title">Movie Details</h2>
            <div class="input-container">
              <div
                style="gap: 12px; display: flex; justify-content: space-between"
              >
                <div class="input-wrapper">
                  <input
                    type="text"
                    id="movieName"
                    name="movieName"
                    placeholder="Movie Name"
                    value="<%= typeof movieName !== 'undefined' ? movieName : '' %>"
                  />
                  <% if (typeof errors !== 'undefined' && errors.movieName &&
                  !movieName) { %>
                  <span class="error"><%= errors.movieName %> </span>
                  <% } %>
                </div>
                <div class="input-wrapper">
                  <input
                    type="text"
                    id="movieRate"
                    name="movieRate"
                    placeholder="Movie Rate (1-10)"
                    value="<%= typeof movieRate !== 'undefined' ? movieRate : '' %>"
                  />
                  <% if (typeof errors !== 'undefined' && errors.movieRate &&
                  !movieRate) { %>
                  <span class="error"><%= errors.movieRate %> </span>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="button-wrapper">
            <button class="submit-btn" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
